<tr>
    <td class="pt-3-half">{{ employee.user.id }}</td>
    <td class="pt-3-half"> {{ employee.user.email }} </td>
    <td class="pt-3-half"> {{ employee.user.username }} </td>
    <td class="pt-3-half"> {% if employee.user.is_active %} <span class="text-success">Active</span> {% else %} <span class="text-danger">Not Active</span> {% endif %}</td>
    <td>
        <span class="table-remove"><a href="{% url 'master-profile' pk=employee.user.id %}" type="button" class="btn btn-info btn-rounded btn-sm my-0">Edit</a></span>
    </td>
    <td>
        <span class="table-remove"><a href="{% url 'master-handle' pk=employee.user.id %}" type="button" class="btn btn-danger btn-rounded btn-sm my-0">Activate / Deactivate</a></span>
    </td>
</tr>