{% extends "master/base.html" %}
{% block navbar %}
    {% include "master/_navbar.html" %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="card-group">
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Total User</div>
                <div class="card-body text-primary text-center">
                    <h5>7</h5>
                </div>
            </div>
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                    <div class="card-header">Total User</div>
                    <div class="card-body text-primary text-center">
                        <h5>7</h5>
                    </div>
                </div>
                <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                        <div class="card-header">Total User</div>
                        <div class="card-body text-primary text-center">
                            <h5>7</h5>
                        </div>
                    </div>
                    <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                            <div class="card-header">Total User</div>
                            <div class="card-body text-primary text-center">
                                <h5>7</h5>
                            </div>
                        </div>
                        <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                                <div class="card-header">Total User</div>
                                <div class="card-body text-primary text-center">
                                    <h5>7</h5>
                                </div>
                            </div>
                            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                                    <div class="card-header">Total User</div>
                                    <div class="card-body text-primary text-center">
                                        <h5>7</h5>
                                    </div>
                                </div>
        </div>
    </div>
{% endblock %}